@charset "utf-8";

/* CSS for Plantenshop, a Responsive Design (Mobile First) exercise */

/********** GENERAL + MOBILE FIRST **********/

body, div, article, section {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.4 "Lucide Grande", sans-serif; /* 1em = 16px; */
    color: #333333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-size: 1.125em; /* 18px */
    padding: 0 0.3333em; /* 6px */
}

header {
    position: relative;
}

section {
    clear: both;
}

p {
    margin-left: 0.375em;
}

.container {
    overflow: auto;
}

/* Header: title with line beneath */

header h1 {
    margin: 0.2222em;
}

#kopnav {
    border-top: 1px solid gray;
    padding-top: 0.6em;
    margin: 0;
}

/********** HEADER MENU MOBILE FIRST **********/

/* Vertical menu - container determinates width of list */

#hoofdmenu {
    list-style: none;
    font-size: 0.875em;
    font-weight: bold;
    padding: 0;
    margin: 0 1em;
    width: auto;
}

#hoofdmenu li {
    display: block;
    margin: 0;
    padding: 0.4286em 1.1428em;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
}

#hoofdmenu li:first-child {
    border-top: 1px solid silver;
}

#hoofdmenu a {
    display: inline;
    cursor: pointer;
}

#hoofdmenu li:hover {
    color: white;
    background-color: darkseagreen;
}
