@charset "utf-8";

/* CSS for Plantenshop, a Responsive Design (Mobile First) exercise */

/********** GENERAL + MOBILE FIRST **********/

body, div, article, section {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/1.4 "Lucide Grande", sans-serif; /* 1em = 16px; */
    color: #333333;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-size: 1.125em; /* 18px */
    padding: 0 0.3333em; /* 6px */
}

header {
    position: relative;
}

section {
    clear: both;
}

p {
    margin-left: 0.375em;
}

.container {
    overflow: auto;
}



